@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Bangers', cursive;

    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #c52754;
    background-size: 10px, 100%;
}

.cardWrapper {
    height: 400px;
    width: 1200px;

    background: #c1c1c1;
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 5px 5px 35px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 35px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 35px -5px rgba(0,0,0,0.75);
}

.cardWrapper .cardHeader {
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #ff3224;
    letter-spacing: 0.2rem;
}

.cardBody {
    flex: 0 1 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cardBody .idPic img {
    max-width: 100%;
}

.cardBody .idPic {
    flex: 0 1 33%;
}

.cardBody .idInfos p {
    margin: 0;
}
.cardBody .idInfos {
    background-color: black;
    font-family: 'VT323', monospace;
    color: #00ff41;
    flex: 0 1 66%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
}

.cardBody .idInfos span {
    font-family: 'VT323', monospace;

}

[role="button"] {
    cursor: pointer;
    padding: 0.2rem 1.25rem;
}

#sealOfApproval img {
    height: 6em;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transform: rotate(-15deg);
}

/*
COMICS UI
A pen by Gabriele Corti
find it @ https://codepen.io/borntofrappe/pen/GeXMgm
*/

/* .bubble containers: add the texture above a solid background */
.bubble {
    margin: 2rem 0;
    text-align: center;
    font-family: "Dekko", cursive;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #fff;
    background-size: 12px, 100%;
    border: 0.4rem solid #000;
    /* position relative for the :before pseudo element */
    position: relative;
    transition: all 400ms ease-in-out;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.bubble--highlight {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #ffcd28;
    background-size: 13px, 100%;
    font-weight: 700;
}

/* for the highlight container always add an exclamation point */
.bubble--highlight:after {
    content: "!";
}

/* for every .bubble container add a solid background behind the container itself, slightly offset */
.bubble:before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0.15rem;
    width: 100%;
    height: 100%;
    /* with the same texture, but different color, for both the texture and the background */
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #000;
    background-size: 12px, 100%;
    border: 0.4rem solid #000;
    z-index: -5;
}

.bubble--highlight:hover {
    background-color: #2845ff;
}